/*nav vertical*/
*{
	padding: 0;
	margin: 0;
}
body{
	font-family: 'Open Sans', sans-serif;
}
.nav-side-menu {
  overflow: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 200;
  background-color: #fff;
  position: fixed;
  top: 0px;
  width: 200px;
  max-width: 100%;
  height: 100%;
  color: #808080;
}
.nav-side-menu .brand {
  background-color: #fff;
  border-bottom: 1px solid #E8E9E6;
  line-height: 50px;
  display: block;
  text-align: left;
  font-size: 14px;
  padding: 0 0 0 15px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f107";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
  color:#EC2427;
  font-size: 25px;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #fff;
  border: none;
  line-height: 40px;
  /*border-bottom: 1px solid #23282e;*/
  margin-left: 0px;
  padding-left: 20px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #E8E9E6;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  /*content: "\f107";*/
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-bottom: 1px solid #E8E9E6;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #808080;
  padding: 0 0 0 16px;
  font-size: 16px;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  /*border-left: 3px solid #d19b3d;*/
  background-color: #e8e9e6;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
}


/*CHECKBOX*/

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked)
{
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label
{
    position: relative;
    padding-left: 45px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #808080;
    font-size: 14px;
    font-weight: normal;
    width: 100%;
}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before
{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    background: #fff;
}
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after
{
    content: '';
    width: 12px;
    height: 12px;
    background: #EC2427;
    position: absolute;
    top: 3px;
    left: 3px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="checkbox"]:not(:checked) + label:after
{
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
[type="checkbox"]:checked + label:after
{
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
[type="checkbox"]:disabled:checked + label:before,
[type="checkbox"]:disabled:not(:checked) + label:before
{
    border-color: #ccc;
    background-color: #eee;
}
[type="checkbox"]:disabled:checked + label:after

/*CONTENIDOS*/

.col-xs-12.col-lg-9.produc{
	padding: 0;
	margin: 0;
}

.col-lg-3.caja{
	padding: 0;
	margin: 0;
	background-color: #fff;
	border: solid 1px #DBDBDB;
	margin: 4px;
}
span.porciento, {
    background-color: #ec2427;
}
h3.valor{
	color: #ec2427;
}
img.img-productos{
	width: 100%;
	height: auto;
}
h3.title-produc {
    font-size: 16px;
    letter-spacing: 2px;
}
.comparar{
	margin: 10px!important;
}
span.porciento {
    background-color: #ec2427;
    padding: 2px 11px;
    color: #fff;
}
h3.valor {
    margin: 5px 0 0 6px;
}
h4.valor-internet, h5.valor-normal, h5.despach, span.porciento, h3.title-produc{
	margin-top: 5px;
	margin-left: 8px;
	margin-right:5px;
	margin-bottom: 2px;
}

hr.linea-separa {
    margin: 9px 5px;
}
h5.despach {
    margin-bottom: 12px;
    font-size: 12px;
}

@media (min-width: 768px){
	.container.contenedor {
		width: 100%;
	}
	.col-sm-4.col-md-3.col-lg-2.menu{
		max-width: 24.333333%;
	}
	.col-sm-8.col-lg-10.produc{
		min-width: 75.666667%;
	}

}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	.col-sm-4.col-md-3.col-lg-2.menu{
		width: 27.33333333%;
	}
	.col-sm-8.col-lg-10.produc{
		width: 72.666667%;
	}
	.col-sm-4.col-md-3.col-lg-3.caja{
		width: 48.333333%;
	}
}

@media (min-width: 992px){
	.container.contenedor {
		width: 100%;
	}
	.col-md-3.col-lg-2.menu{
		width: 19.66666%;
	}
	.col-sm-8.col-lg-10.produc{
		width: 79.2666%;
	}
	.col-md-3.col-lg-3.caja{
		width: 23.67666%;

	}
	
}

@media (min-width: 1200px){
	 .col-lg-3.caja {
    width: 24.146667%;
}
}
@media (min-width: 1367px){
	.container.contenedor {
    	width: 1366px !important;
    	margin: auto;

	}
	.col-lg-2.menu {
		   width: 16.666667%;
		   padding: 0;
		   margin: 0;
	}
	.col-lg-3.caja{
		   width: 24.266667%;
		   
	}
}
@media (min-width: 1367px){

}

















